<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          
         
          <li>
            <a href="https://www.facebook.com/{{ site.data.social.facebook_user_name }}">
              <span class="icon  icon">
                
                
                <img class="  aligncenter wp-image-2896" src="{{site.url}}/Assets/img/social_facebook_box_blue-300x300.png" alt="social_facebook_box_blue" width="82" height="82">
              </span>

              
            </a>
          </li>
          
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>


  </div>

</footer>
