<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="mailto:{{ site.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ site.email }}</a>
        <span class="point"> · </span>
        
          
          <a href="https://www.facebook.com/plataformaindignada">
            
            <i class="fa fa-facebook-square fa-lg"></i>
          </a>
          <span class="point"> · </span>
          <a href="https://twitter.com/hnplataforma" >
          	<i class="fa fa-twitter-square fa-lg"></i>
          </a>

          <span class="point"> · </span>
          <a href="http://www.youtube.com/c/PlataformaIndignadaHonduras">
            
           <i class="fa fa-youtube fa-lg"></i>
          </a>
          
          <span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></span>
          <span class="point"> · </span>
          <span>{{ site.description }}</span>
          <span class="point"> · </span>
          <span>&copy; 2015 Gaohaoyang</span>
          <span class="point"> · </span>
          <span>Designed by <a href="https://github.com/Gaohaoyang">HyG</a></span>

      </div>
    </div>
  </div>

  
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66131877-1', 'auto');
  ga('send', 'pageview');

</script>
  
</footer>