<!DOCTYPE html>
<html>

  {% include head.html %}

 
 <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1611950045711420',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script><!--  <body data-spy="scroll" data-target="#myAffix"> -->

  <body>

    {% include header.html %}


    <div id="main" class="container main">
      {{ content }}
    </div>

    
    <div id="top" data-toggle="tooltip" data-placement="left" title="Inicio">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}


  
  

  <script type="text/javascript">
    function addBlankTargetForLinks () {
      $('a[href^="http"]').each(function(){
          $(this).attr('target', '_blank');
      });
    }
    $(document).bind('DOMNodeInserted', function(event) {
      addBlankTargetForLinks();
    });
  </script>
  </body>
</html>
